<ng-template #content let-modal class="search">
    <div class="modal-header">
        <h4 class="modal-title">Search a user</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="container">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    (input)="onSearchInputChange($event)">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <tr *ngFor="let foundUser of foundUsers">
                <p>Found: <a routerLink="/user/{{foundUser.id}}"
                        (click)="closeSearch()">{{foundUser.username}}#{{foundUser.discriminator}}</a>
                </p>
            </tr>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>



<div class="header">
    <div class="container">
        <div class="row text-center overflow-y-auto">
            <ng-template [ngIf]="this.authService.isLoggedIn">
                <div class="col-12 item">
                    <button class="btn btn-primary" (click)="searchBarModal(content)">
                        Search
                    </button>
                </div>
                <hr />
            </ng-template>
        </div>
    </div>
</div>

<div class="header">
    <div class="container">
        <div class="row text-center overflow-y-auto user-chat-box">
            <ng-template [ngIf]="this.authService.isLoggedIn">
                <a *ngFor="let chat of chats" class="col-12 chat-head text-center item"
                    routerLink="/dm/{{chat.receiver.id}}">
                    {{chat.receiver.username}}#{{chat.receiver.discriminator}}
                </a>
                <hr />
                <a routerLink="/voicetest">
                    Voice test
                </a>
                <hr />
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
                <div class="col-12 item">
                    <p>ඞ guilds here</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div *ngIf="!this.authService.isLoggedIn" class="col-12">
                <a class="btn btn-outline-primary" routerLinkActive="active" routerLinkActive="active"
                    routerLink="/signup">Sign up</a>
                <a *ngIf="!this.authService.isLoggedIn" class="btn btn-outline-primary" routerLinkActive="active"
                    routerLinkActive="active" routerLink="/login">Sign in</a>
            </div>

            <ng-template [ngIf]="this.authService.isLoggedIn">
                <hr />
                <div *ngIf="this.authService.isLoggedIn" class="col-12">
                    <a class="nav-link item"
                        routerLink="/user/{{this.authService.currentAccount?.id}}">{{this.authService.currentAccount?.username}}#{{this.authService.currentAccount?.discriminator}}</a>
                </div>
                <div class="col-12 item">
                    <button (click)="logout()" type="button" class="btn btn-danger">Logout</button>
                </div>
            </ng-template>
            <div class="col-12 item">
                <p class="tiny-text">{{ apiInformation?.version }} - {{ apiInformation?.host }}</p>
            </div>
        </div>
    </div>
</div>