<ng-template [ngIf]="currentTarget">
    <div class="userDetail">
        <h1>
            Chat with: {{currentTarget.username}}#{{currentTarget.discriminator}}
        </h1>
    </div>
</ng-template>

<div #chatDiv class="scrollable-div overflow-y-auto" (scroll)="onScroll($event)">
    <ng-template [ngIf]="currentChat">

        <p *ngFor="let chatMessage of currentChat.messages">
            <app-chat [currentChat]="currentChat" [chatMessage]="chatMessage" [chatOptions]="chatOptions"></app-chat>
        </p>
    </ng-template>

</div>

<ng-template [ngIf]="!currentChat">
    <h3>Send your first message with this cool person!</h3>
</ng-template>

<form (ngSubmit)="sendChat()">
    <label for="chatmessage">Chat Message:</label>
    <input type="text" id="chatmessage" [(ngModel)]="latestMessage" name="chatmessage">
    <button type="submit">Submit</button>
    <div>
        Decrypt? <input type="checkbox" [checked]="chatOptions.decrypt"
            (change)="chatOptions.decrypt= !chatOptions.decrypt" />


        <i *ngIf="stayAtBottom" style="color: green">Staying at bottom</i>
        <i *ngIf="!stayAtBottom" style="color: red">not Staying at bottom</i>
    </div>
</form>